header{
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    padding: 80px 0;
    margin-bottom: 20px;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.sfondo{
    background-color: greenyellow;
}

.card {
    background-color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    font-family: 'Courier New', Courier, monospace;
}

footer{
    background-color: yellowgreen;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5%;
    color: aliceblue;
    padding: 3%;
}